body {
    background-color: #283D53;
}

.nat-note-head {
    color: #fff;
    background-color: #20262E;
}

.nat-note-tag, .nat-note-editor-form-tag {
	color: #fff;
    background-color: #BD871F;
    border-top: 1px solid;
    border-color: rgba(27,31,35,.15);
}